* {
    margin: 0;
    padding: 0;
    font-family: 'Outfit';
}

:root {
    --slate-300: hsl(212, 45%, 89%);
    --slate-500: hsl(216, 15%, 48%);
    --slate-900: hsl(218, 44%, 22%);
}

body {
    background-color: var(--slate-300);
    text-align: center;
}

.main-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 375px) {
    .main-container {
        margin: 1rem;
    }
}

#main-card {
    background-color: white;
    margin: 1rem auto;
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    padding-bottom: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#main-card img {
    border-radius: 10px;
}

.attribution { 
    font-size: 11px; text-align: center; 
    margin-top: 1rem;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

h1 {
    font-size: 22px;
    margin-top: 1rem;
    font-weight: bold;
    letter-spacing: 0px;
    line-height: 1.2;
}

p {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.2px;
    line-height: 1.4;
    margin-top: 1rem;
}